{% extends "base.html" %}
{% block title %} {{pokemon}} {% endblock title %}
{% block content %}
    <h2>{{pokemon}}</h2>
    <p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
    <h3>Caracteristicas:</h3>
    <ul>
        <li><img src="{{pokemon.picture.url}}" alt="" ></li>
        <li>Tipo: {{ pokemon.type }}.</li>
        <li>Peso: {{ pokemon.weight }} kg.</li>
        <li>Altura: {{ pokemon.height }} cm.</li>
          
    </ul>
    <a href="/" class="btn btn-primary">Regresar</a>
{% endblock content %}