{% extends "base.html" %}

{% block title %}Mi Pokedex{% endblock title %}
{% block content %}
    <p class="p-2">Aquí podrás ver tus Pokemones</p>
    <div class="card-group">
        {%for pokemon in pokemons%}
            <div class="card">
                <img src="{{pokemon.picture.url}}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon }}</h5>
                    <p class="card-text">Entrenador: {{ pokemon.trainer }}.</p>
                    <p class="card-text">Peso: {{ pokemon.weight }} kg.</p>

                    <a href="pokemon/{{ pokemon.id }}" class="btn btn-primary">
                        <i class="fa-solid fa-eye"></i>
                    </a>

                    <a href="edit_pokemon/{{ pokemon.id }}" class="btn btn-primary">
                        <i class="fa-solid fa-pencil"></i>
                    </a>

                    <a href="delete_pokemon/{{ pokemon.id }}" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>


                </div>
            </div>
        {%endfor%}
    </div>
    <a href="{% url "pokedex:add_pokemon" %}" class="btn btn-primary">Crear pokemon</a>



{% endblock content %}